<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tabish.taskask">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAxxKwIJlDi-ZyOgbgiAiD5RYsum07w5z4" />

        <activity android:name=".MainScreenActivity" />
        <activity android:name=".AllTasksActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTask"
            android:label="Create Task"
            android:parentActivityName=".AllTasksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllTasksActivity" />
        </activity>
        <activity
            android:name=".Register"
            android:label="Register" />
        <activity
            android:name=".ViewTask"
            android:label="View Task"
            android:parentActivityName=".AllTasksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllTasksActivity" />
        </activity>
        <activity
            android:name=".GotoDialogue"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".GotoMap" />
        <activity
            android:name=".ViewCheckMap"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".ViewUser"
            android:parentActivityName=".ViewTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewTask" />
        </activity>
        <activity android:name=".TaskComplete" />
        <activity
            android:name=".UserOptions"
            android:label="@string/title_activity_user_options"
            android:parentActivityName=".AllTasksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tabish.taskask.AllTasksActivity" />
        </activity>
        <activity
            android:name=".ViewSelf"
            android:label="ViewSelf"
            android:parentActivityName=".UserOptions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tabish.taskask.UserOptions" />
        </activity>
        <activity android:name=".ViewProposedTasks" />
        <activity
            android:name=".ViewAcceptedTasks"
            android:label="Accepted Tasks"
            android:parentActivityName=".UserOptions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tabish.taskask.UserOptions" />
        </activity>
        <activity
            android:name=".ViewProposals"
            android:label="View Proposals"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tabish.taskask.UserOptions" />
        </activity>
        <activity android:name=".MyPostedTasks">


        </activity>
    </application>

</manifest>